<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--Gmail Account Settings for your app-->
    <add key="From" value="Your Name" />
    <add key="SMTPUserName" value="Your Email address" />
    <add key="SMTPPasssword" value="Your Password" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  
</configuration>